/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Set a background color for the body */
body {
    background-color: #f0f0f0;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

/* Center the h1 */
h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #666;
    margin: 20px 0;
}

div.articles {
    width: 768px;
    margin: 0 auto;
}

div.articles h2 {
    color: #666;
    text-align: center;
}

div.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

div.user-info p {
    padding: 4px 0;
}

/* Style for the navigation menu */
.navigation-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.navigation-menu li {
    margin: 0 10px;
}

/* Style for links */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Style for the list of articles */
div.articles {
    width: 768px;
}

ul.articles {
    width: 100%;
    list-style: none;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 8px 0;
    padding: 12px 20px;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #eee;
    font-size: 16px
}

li.article:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #ddd;
    background-color: #f0f0f0;
}

li.article a {
    text-decoration: none;
}

p.date-published {
    font-size: 14px;
    color: #999;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    div.articles {
        width: 100%;
    }
}
