html
    head
        title Home
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style 
            include ../styles/index.css
        
    body
        if user
            nav 
                div.user-info
                    p #{user.name}
                    a(href="/logout") Logout

        h1 Articles webpage
        
        if !user
            h2 Please login or signup to read articles!
            
            ul.navigation-menu
                li: a(href='/login') Login
                li: a(href='/signup') Signup
        else
            div.articles
                if !articles || articles.length == 0
                    h2 No articles yet!
                else
                    ul.articles
                        each article in articles
                            li.article
                                a(href="/user/articles/"+article.id) #{article.title}
                                p.date-published #{article.dateString}
